.profile {
    border-radius: 50%;
}
.Power {
    border: solid #FF7F00 3px;
}
.bottom {
    background-color:rgb(205, 179, 147);
}
.contact {
    background-color: #FF7F00;
}
.header{
    background-color: #FF7F00;
}
.middle{
    background-color: bisque;
}
body {
    margin: 0;
}
h3 {
    color: #2e2d2c;
    margin-top: 0;
}
hr {
    border-style: dotted none none;
    width: 30%;
    border-color: rgb(216, 22, 22);
    border-width:5px;
    margin-bottom: 0;
}
